.load{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#menu {
    background-color: snow;
  }
  #content {
    background-color: white;
  }
  a{
    text-decoration: none;
  }
  .titre-h2{
      margin-top: 15px;
      margin-bottom: 15px;
      color: #1976d2;
  }
.v-application{
    font-family: cursive !important;
}

  .no-padding{
    padding: 0px !important;
  }