.load{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#menu {
    background-color: snow;
  }
  #content {
    background-color: white;
  }
  a{
    text-decoration: none;
  }
  .titre-h2{
      margin-top: 15px;
      margin-bottom: 15px;
      color: #1976d2;
  }
.v-application{
    font-family: cursive !important;
}

  .no-padding{
    padding: 0px !important;
  }
  .mdi-facebook{
      color: #4267b2 !important;
      font-size: 50px !important;
  }
  .mdi-twitter{
        color: rgba(29,161,242,1.00) !important;
      font-size: 50px !important;
  }
  .mdi-instagram{
        color: black !important;
      font-size: 50px !important;
  }
  .mdi-snapchat{
        color: yellow !important;
      font-size: 50px !important;
  }
  .mdi-web{
        color: grey !important;
      font-size: 50px !important;
  }
  .v-btn--active--prog{
    background-color: #6200ea !important;
    color: white !important;
  }
  .v-btn--inact--prog{
    
  }